@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@400;500;600;700&family=Open+Sans&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black-1: #000;
    --black-2: #202020;
    --blsck-3: #111;
    --green-c: #a1e080;
    --dark-green: #008542;
    --white-c: #fff;
}





body {
    font-family: 'Noto Sans', sans-serif;
}


img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

.green-t {
    color: var(--green-c);
    transition: color 0.3s ease-in-out;
}

.whtie-t {
    color: var(--white-c);
    transition: color 0.3s ease-in-out;
}


.flex {
    display: flex;
}
.grid {
    display: grid;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

main {
    background-color: rgb(255, 252, 249);
}



/*  subnavbar styling */


.subnavbar {
    background-color: var(--black-1);


    /* height: ; */
}

.subnavbar .container {
    justify-content: end;
    align-items: center;
}

.subnavbar .container a {
    margin-right: 20px;
    padding: 8px 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    
}

.navitems a {
    color: var(--white-c);
}

.subnavbar .container a:hover {
    color: var(--white-c);
}






/* logimg styling */
.logo {
    background-color: var(--black-2);
}

.logo .container {
    width: 100%;
}

.logo .container .img {

    margin: 0 auto;
    width: 175px;
    height: 40px;
    padding-top: 15px;
}





/* nav bar styling */
.navbar {
    background-color: var(--black-2);
    height: 50px;
    /* position: fixed; */
    /* width: 100vw; */

}

.navbar .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .container .navitems a {
    margin-left: 20px;
    margin-left: 10px;
    padding: 0 13px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: color 0.2s ease-out;
}

.navbar .container .navitems a:hover {
    color: var(--green-c);
}


.navbar .container a {
    margin-left: 20px;
    margin-left: 10px;
    padding: 0 13px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.navbar .container a:hover {
    color: var(--white-c);
}





/* hero section styling */
.hero {
    background-image: url(img/hero.jpg);
    height: 90vh;
}

.hero .container {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.hero .left-part {
    max-width: 255px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}

.hero .left-part .ratingimg {
    max-width: 125px;
    align-self: center;
    margin-top: 20px;

}

.hero .right-part {
    max-width: 630px;
    margin-left: 30px;
}

.hero .right-part h1 {
    font-family: "Noto Sans";
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
    color: var(--white-c);
    margin-bottom: 12px;
    margin-top: 70px;
}

.hero .right-part p {
    font-family: "Noto Sans";
    font-size: 18px;
    line-height: 26px;
    color: var(--white-c);
    margin-bottom: 25px;
}


.hero .right-part .btn-main {
   height: 50px;
   width: 200px;
   background-color: var(--green-c);
   display: flex;
   flex-direction: column;
   cursor: pointer;

}

.hero .right-part .btn-main .sub-btn {
   
    background-color: var(--dark-green);
    width: 100%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
   
    
}
.hero .right-part .btn-main .sub-btn a {
    color: var(--white-c);
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    font-weight: 900;
}

.hero .right-part .btn-main:hover .sub-btn {
    height: 100%;
    background-image: linear-gradient(#3d3938,#171615);

}

.hero .right-part h2 {
    color: var(--white-c);
    margin-left: 60px;
}






/* slider section styling */


.slidersection h1 {
    text-align: center;
    font-size: 28px;
    margin: 50px 0 30px;
    padding: 0 15px;
}

.slidersection .slider {
    max-width: 350px;
    margin: 0 20px;
   
}

.slidersection .img-box {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.slidersection .slider img {
    width: 100%;
}





/* features section styling */
.features-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.features-section h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

.features-section .feature {
    display: flex;
}

.features-section .feature p {
    margin-left: 15px;
    margin-bottom: 80px;
    font-size: 18px;
}

.features-box .feature .img {
    width: 20px;
    height: 30px;
}

.features-box {
    display: flex;
    justify-content: space-around;
    padding: 5 20px;
    margin: 0 20px;
}

.features-box .box2 {
    margin-left: 20px;
}






/* footer hero section */
.footerhero-section {
    background-image: url(img/footer2.jpg);
    height: 80vh;

}

.footerhero-section .container {
    height: 100%;
}

.footerhero-section .content {
      justify-content: space-between;
      align-items: center;
      height: 100%;
}

.footerhero-section .content p {
    color: #fff;
}

.footerhero-section .content .img {
    width: 540px;
}




/* footer social section  */

.footer h3{
    font-size: 15px;
    
}
.footer p {
    font-size: 12px;
}
.footer a {
    font-size: 12px;
}

.social-part {
    background-color: var(--black-1);
}

.social-part .social-text {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    color: var(--white-c);
}

.social-part .social {
    justify-content: space-around;
    padding-bottom: 20px;
    margin-top: 10px;
}

.social-part .social i {
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
   
}

.social-part .social .a:hover {
    background-color: red;
}
.social-part .social .b:hover {
    background-color: aqua;
}
.social-part .social .c:hover {
    background-color: blue;
}
.social-part .social .d:hover {
    background-color: deeppink;
}
.social-part .social .e:hover {
    background-color: orangered;
}




/* footer main */

.footer-main {
    background-color: var(--blsck-3);
}

.footer-main .images-section {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
    margin-bottom: 20px;
    padding-top: 30px;
}

.footer-main .images-section img {
    max-width: 200px;
    min-width: 130px;
    margin-bottom: 30px;
    
}

.footer-main .contact h3 {
     color: #fff;
     text-align: center;
     margin-bottom: 10px;
}


.footer-main .contact .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-main .contact .links a {
    margin: 10px 15px 10px 8px;
}






/* responsiv dising */

@media (max-width: 899px) {
    .hero {
        min-height: 130vh;
        
    }

    .hero .container {
        flex-direction: column;
        
    }

    .slidersection .img-box {
        grid-template-columns: 1fr;
        place-items: center;
        row-gap: 20px;
       
    }



    .features-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerhero-section .content {
        margin-left: 20px;
        
    }


    .navitems {
        display: none;
    }
}



@media (max-width: 470px) {
    .hero {
        min-height: 150vh;
        
    }
}


@media (max-width: 380px) {
    .btn-price {
        flex-direction: column;
    }
}